/* ======= Estilos Gerais ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    font-family: Arial, sans-serif;
}
header{
    /*Alinhamento*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Tamanho e Cor*/
    padding: 10px 20px;
    background: #222;
    color: white;
}
.logo, img{
    margin: 0 auto;
    width: 80px;
}


/* ========== HOME ========== */
main{
    padding: 50px 5px 50px;
    background: linear-gradient(200deg, 
        #292929 30%,
        #0C0C0D 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-titulo{
    width: 400px;
    margin: -10px auto 20px;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    color: white;
}

/* ========== CARROSSEL ========== */


/* ======= Botão Menu ======= */
.botaoMenu{
    /*Tamanho e Cor*/
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

    /*Alinhamento*/
    position: fixed;
    top: 35px;
    left: 15px;
    z-index: 1000; /* Para ficar acima do menu */

    /*Animação*/
    transition: transform 0.2s ease;
}
.botaoMenu svg {
    /*Tamanho e Cor*/
    width: 30px;
    height: 30px;
    fill: white;
    opacity: 0.1;

    /*Animação*/
    transition: opacity 0.3s ease, transform 0.2s ease;
}
.botaoMenu:hover svg {
    /*Animação*/
    opacity: 1;
    transform: scale(1.1);
}
.botaoMenu:active {
    transform: scale(0.9);
}


 /* ======= Menu Lateral ======= */
 .menu-lateral{
    /*Alinhamento*/
    position: fixed;
    top: 104px;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 999; /* Menor que o botão, para o botão continuar visível */

    /*Tamanho e Cor*/
    background: #F2F2F2;
    color: #0C0C0D;
    padding: 0px 20px;
    transition: left 0.3s ease;
 }
 .menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}
.menu-lateral ul li {
    margin: 20px 0;
}
.menu-lateral ul li a {
    color: #0C0C0D;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.menu-lateral ul li a:hover {
    color: #D7D7D9;
}
/* Classe para abrir o menu */
.menu-aberto {
    left: 0 !important;
}


/* ======= Pagina Musicas ======= */
.titulo{
    padding: 30px;
    font-size: 1.8em;
    font-weight: bolder;
    text-align: center;
    color: #919191;
}
.campo-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
.campo-pesquisa input {
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}
.campo-pesquisa button {
    width: 30%;
    background-color: #3C3C40;
    color: white;
    font-weight: bolder;
    border: none;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.campo-pesquisa button:hover {
    background-color: #F2F2F2;
    color: #0C0C0D;
}
/* Contêiner Responsivo para o Iframe */
.responsive-iframe {
    margin: auto;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    overflow: hidden;
}
.responsive-iframe iframe {
    margin: auto;
    min-width: 30vw;
    min-height: 35vh;
    border: 0;
}