/* ======= Estilos Gerais ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    /*Alinhamento*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Tamanho e Cor*/
    padding: 10px 20px;
    background: #222;
    color: white;
}
.logo, img{
    margin: 0 auto;
    width: 80px;
}

/* ======= Botão Menu ======= */
.botaoMenu{
    /*Tamanho e Cor*/
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

    /*Alinhamento*/
    position: fixed;
    top: 35px;
    left: 15px;
    z-index: 1000; /* Para ficar acima do menu */

    /*Animação*/
    transition: transform 0.2s ease;
}
.botaoMenu svg {
    /*Tamanho e Cor*/
    width: 30px;
    height: 30px;
    fill: white;
    opacity: 0.1;

    /*Animação*/
    transition: opacity 0.3s ease, transform 0.2s ease;
}
.botaoMenu:hover svg {
    /*Animação*/
    opacity: 1;
    transform: scale(1.1);
}
.botaoMenu:active {
    transform: scale(0.9);
}

 /* ======= Menu Lateral ======= */
 .menu-lateral{
    /*Alinhamento*/
    position: fixed;
    top: 104px;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 999; /* Menor que o botão, para o botão continuar visível */

    /*Tamanho e Cor*/
    background: #333;
    color: white;
    padding: 0px 20px;
    transition: left 0.3s ease;
 }
 .menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}
.menu-lateral ul li {
    margin: 20px 0;
}
.menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.menu-lateral ul li a:hover {
    color: #007bff;
}
/* Classe para abrir o menu */
.menu-aberto {
    left: 0 !important;
}
